body {
    background: linear-gradient(to bottom, #ffff, #eeecec, #c4c4c4);
    width: 100%;
    background-attachment: fixed;
    /* Hace que el fondo se mueva con el scroll */
    background-size: cover;
    /* Asegura que el fondo cubra toda la pantalla */
    background-repeat: no-repeat;
    /* El fondo no se repite */

    margin: 0;
}

@font-face {
    font-family: ligh;
    src: url('fonts/Light.ttf');
}

.header {

    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.dvMenu {
    display: flex;
    gap: 20px;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}


#imgLogo {
    object-fit: cover;
    height: 80%;
    margin-left: 30px;
    border-radius: 1rem;
}

.dvButtonsContact {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}


.circularButton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid #000 3px;
    transition: 0.3s;
    cursor: pointer;
}

.circularButton:hover,
.circularButton:hover~.icon {
    border: solid #9d35ff 3px;
    fill: #9d35ff;

}

.dvReferences {
    background: linear-gradient(90deg, #d88bf0, #ff7cde);
    width: 100%;
    height: 1100px;
    box-shadow:
        0 -50px 150px -30px rgba(216, 139, 240, 1),
        /* Sombra superior más intensa */
        0 50px 150px -30px rgba(255, 124, 222, 1),
        /* Sombra inferior más intensa */
        0 0 180px 70px rgba(216, 139, 240, 0.4),
        /* Sombra difusa alrededor del contenedor */
        0 0 180px 70px rgba(255, 124, 222, 0.4),
        /* Sombra difusa alrededor del contenedor */
        0 -10px 30px -5px rgba(216, 139, 240, 0.8),
        /* Sombra sólida cerca de la orilla superior */
        0 10px 30px -5px rgba(255, 124, 222, 0.8),
        /* Sombra sólida cerca de la orilla inferior */
        0 -20px 60px -15px rgba(216, 139, 240, 0.6),
        /* Gradiente de sombra hacia la izquierda */
        0 20px 60px -15px rgba(255, 124, 222, 0.6),
        /* Gradiente de sombra hacia la derecha */
        0 -30px 90px -25px rgba(216, 139, 240, 0.5),
        /* Gradiente de sombra hacia la izquierda */
        0 30px 90px -25px rgba(255, 124, 222, 0.5);
    /* Gradiente de sombra hacia la derecha */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    flex-direction: column;
}

@font-face {
    font-family: comic;
    src: url('fonts/6680-fontps.ttf');
}

footer {
    width: 100%;
    height: 150px;
    background-color: #992aaf;
    margin-top: 40px;
}

.dvI{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.dvReferences label {
    font-size: 60px;
    font-weight: 900;
    font-family: comic;
    color: #38176e
}

#imgPremio {
    width: 80%;
    height: 100%;
    object-fit: cover;


}

.dvPremio {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#lb1{
    margin-bottom: 30px;
}

@media screen and (max-width:400px) {
    #imgPremio{
        width: 100%;
    }
    .dvPremio{
        margin-bottom:8px;
    }

    .dvReferences label {
        font-size: 40px;
        font-weight: 900;
        font-family: comic;
        color: #38176e;
        text-align: center;
    }

    .dvI{
        margin-top: 30px;
        margin-bottom: 80px;
    }
     
    .dvMenu{
        gap: 0px;
        margin-left: 20px;
    }

    .header img{
      height: 100px;
      width: 100px;
    }

    .header a{
        font-size: 15px;
    }

    .dvI1{
         margin-top: 20px;
    }
}

@media screen and (max-width:390px) {
    .dvReferences label {
        font-size: 35px;
        
    }
    .dvReferences{
        margin-top: 30px;
    }

    .dvI1{
        margin-top: 30px;
        margin-bottom: 40px;
    }

}
