body {
    background-color: #25302f;
    
    background-attachment: fixed;
    /* Hace que el fondo se mueva con el scroll */
    background-size: cover;
    /* Asegura que el fondo cubra toda la pantalla */
    background-repeat: no-repeat;
    /* El fondo no se repite */
    overflow-x: hidden;
    margin: 0;
}

.fondoImg{
    background-image: url('images/0001.png');
z-index: -1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    object-fit: cover;
}

.hero{
    background-color: #35726a;
    width: 100%;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 25px;
    margin-bottom: 30px;
}

.hero-items{
    width: 90%;
    height: 90%;
    border-radius: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #65c1b5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
    

}   

.glow-button {
    animation: buttonGlow 2s infinite;
}

@keyframes buttonGlow {
    0%, 100% {
        box-shadow: 0 0 10px #65c1b5;
    }
    50% {
        box-shadow: 0 0 20px #65c1b5, 0 0 30px #65c1b5;
    }
}

@keyframes buttonGlow2 {
    0%, 100% {
        box-shadow: 0 0 10px rgb(184, 255, 238);
    }
    50% {
        box-shadow: 0 0 20px rgb(184, 255, 238), 0 0 30px rgb(184, 255, 238);
    }
}


#contenedorPedidos{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px); /* 200px es el ancho de cada contenedor */
    
   justify-content: center;
    gap:20px;
    column-gap: 50px;
}

#contenedorRegistros{
    width: 100%;
    /* background-color: #58ff3f; */
    display: flex;
align-items: center;
    position: relative;
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.dvFiltro{
    width: 95%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #35726a;
    border-radius: 5px;
    display: flex;
    gap: 15px;
}

#contenedorConsultas{
    width: 100%;
    /* background-color: #58ff3f; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.divConsu{
    width: 100%;
    height: 100px;
    background-color: #b2fdf3;
    border-radius: 1rem;
}

button{
    background-color: rgb(184, 255, 238);
    border-radius: 1rem;
    height: 60px;
    color: #213e39;
    border:none;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
}

input:focus{
    outline: none;
}

input{
    height: 50px;
    border-radius: 1rem;
    border: 2px white solid;
    background-color: #65c1b5;
    color:#213e39;
}

input::placeholder{
   color: #213e39;
}

.aprobado{
    background-color: rgb(184, 255, 238);
    color: rgb(74, 105, 98);
}

.pendiente{
    border: solid rgb(184, 255, 238) 5px;
    background-color: #213e39;
    color: rgb(255, 255, 255);

}

@font-face {
    font-family: xd;
    src: url('fonts/6680-fontps.ttf');
}

.dvPedido{
    width: 250px;
    
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: buttonGlow2 2s infinite;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.btnAprobar{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    background-color: #58ff3f;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-top: 20px;
    margin-left: 60px;
}

.btnCancelar{
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 1rem;
    background-color: #ff3f3f;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 60px;
}