body {
    background: linear-gradient(to bottom, #000000, #615435, #826a32);
    width: 100%;
    background-attachment: fixed;
    /* Hace que el fondo se mueva con el scroll */
    background-size: cover;
    /* Asegura que el fondo cubra toda la pantalla */
    background-repeat: no-repeat;
    /* El fondo no se repite */
    overflow-x: hidden;
    margin: 0;
}

@font-face {
    font-family: ligh;
    src: url('fonts/Light.ttf');
}

.header {

    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.dvMenu {
    display: flex;
    gap: 20px;
}



a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white
}


#imgLogo {
    object-fit: cover;
    height: 80%;
    margin-left: 30px;
    border-radius: 1rem;
}

.dvButtonsContact {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#svgW{
    position: relative;
    left: 7px;
}

.circularButton {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid #000 3px;
    transition: 0.3s;
    cursor: pointer;
}

.circularButton:hover,
.circularButton:hover~.icon {
    border: solid #efb810 3px;
    fill: #efb810;

}

.dvReferences {
    background: linear-gradient(90deg, #000000, #efb810);
    width: 100%;
 
    
        
    /* Gradiente de sombra hacia la derecha */
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: minmax(80px, 2fr) minmax(70px, 1fr) 
     minmax(60px, 280px) minmax(70px, 1fr)
      minmax(60px, 280px)  minmax(70px, 1fr)
        minmax(60px, 280px)  minmax(70px, 1fr)
          minmax(70px, 1fr);
    gap: 20px;
    padding-top: 10px;
    margin-top: 100px;
}


/* ---- */
.carousel1 {
    /* background-color: #5c339f; */
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .slide1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background-color: #826a32; */
  }
  .slide1.active1 {
    opacity: 1;
  }
  .slide1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* ---- */

.carousel12 {
    /* background-color: #5c339f; */
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .slide12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background-color: #826a32; */
  }
  .slide12.active12 {
    opacity: 1;
  }
  .slide12 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* ----- */

.carousel123 {
    /* background-color: #5c339f; */
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .slide123 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background-color: #826a32; */
  }
  .slide123.active123 {
    opacity: 1;
  }
  .slide123 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* ---- */
@font-face {
    font-family: comic;
    src: url('fonts/6680-fontps.ttf');
}

.dvPremi{
    display: flex;
    justify-content: center;
    background-color: transparent;
}



.imgP{
    width: clamp(400px, 80vw, 500px);
    height: clamp(600px, 10vw, 300px);
}

.imgP2{
    width: clamp(300px, 80vw, 400px);
    height: clamp(500px, 10vw, 300px);
}

footer {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvI {
    width: 100%;
    
    display: flex;
    justify-content: center;
   
}

.dvReferences  label {
    font-size: clamp(15px, 5vw, 25px);
    font-weight: 900;
    font-family: comic;
    color: #ffffff
}

.l1{
    font-size: clamp(15px, 5vw, 25px);
    font-weight: 900;
    font-family: comic;
    text-align: center;
}


#lbAlex{
    font-size: 60px;
    text-align: center;
    
}

#imgPremio {
    width: 100%;
    height: 80%;
    
    

}

.dvPremio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#lb1 {
    margin-bottom: 30px;
}

.information {
    width: 100%;
    height: 700px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
}

.information p {
    margin-top: '';
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
}

#lb2 {
    font-size: 24px;
    color: #ffffff;
}

#buyTicket {
    background-color: #fde25e;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 900;
    border-radius: 3rem;
    width: 200px;
    height: 70px;
    margin-top: 30px;
    transition: 0.3s;
    cursor: pointer;
}

#buyTicket:hover {
    background-color: #5c339f;
    transform: translateY(-7px);

}


.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    touch-action: pan-x;
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-slide img {
    width: 70%;
    height: 400px;
    

}

.carousel-button {
    position: absolute;

    transform: translateY(-50%);
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    width: 50px;
    z-index: 10;
    font-weight: 900;
    border-radius: 50%;
}

.carousel-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 1rem;
}

#btCompra{
    width: 80px;
    height: 50px;
    border-radius: 2rem;
    background-color: #ca9533;
    color: white;
    cursor: pointer;
}

.next-button {
    right: 1rem;
}

.dots-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}


#references2 {
    margin-top: 40px;
    background: linear-gradient(90deg, #000000, #efb810);
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
    
    /* Gradiente de sombra hacia la derecha */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    flex-direction: column;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.dot.active {
    background: #333;
}

.information2 {
    width: 100%;
    height: 1700px;
    margin-bottom: 100px;
    padding-left: 10px;
}

.dvN{
    text-align: center;
}

.dvContador {
    width: 100%;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
    background-color: #ca9533;
    display: flex;
    justify-content: center;
    align-items: center;

}


.information2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 900;

}

.information2 span {
    font-size: 19px;
    color: #fffdff;

}

.sep{
    width: 100%;
    height:30px;
    background-color: #efb810;
}

.dvInfoFinal p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 900;

}

.dvInfoFinal span {
    font-size: 19px;
    color: #ffffff;

}

.dvInfoFinal {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    padding-left: 10px;

}

footer label {
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

p{
    color: white;
}


@media screen and (max-width:350px) {
    

    .dvI label{
        font-size: 14px;
    }

}

@media screen and (max-width:400px) {

.information{
  margin-bottom: 50px;


}
#references2{
    height: 600px;
}

.information2{
    margin-bottom: 50px;
    height: 1020px;
  
  }


    .carousel-slide img {
        width: 80%;
        height: 400px;
        object-fit: cover;
    }

    #imgPremio {
        width: 95%;
        height: 400px;
    }

    .dvPremio {
        margin-bottom: 8px;
    }

    .dvReferences label {
        font-size: 40px;
        font-weight: 900;
        font-family: comic;
        color: #ffffff;
        text-align: center;
    }



    .dvI {
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .dvMenu {
        gap: 0px;
        margin-left: 40px;
        padding-right: 0;
    }

    .header img {
        height: 60px;
        width: 95px;
    }

    .header {
        height: 100px;
        margin-bottom: 20px;
    }

    .header a {
        font-size: 15px;
    }

    .dvI1 {
        margin-top: 0px;
    }
}



@media screen and (max-width:390px) {
    .dvReferences label {
        font-size: 35px;

    }

    .dvReferences {
        margin-top: 30px;
        padding-top: 20px;
    }

    .dvI1 {
      
    }

}

@media screen and (max-width:388px) {
    .information2{
      height: 900px;  
      margin-bottom: 100px; 
    }

}